<h1>All Kombuchas</h1>

<div>
<ul>
    <% @kombuchas.each do |kombucha| %>
        <li>
        <h2> <%= kombucha.flavor %> - <%= kombucha.brand.name%>  </h2>
        <p><%= kombucha.description %></p>
        <%= link_to "Add a Review", new_kombucha_review_path(kombucha) %>
        </li><br>
    <% end %>
 </ul>
</div>





