<h1>Shows Kombucha</h1>
<div>
    <p> <%= @kombucha.flavor %></p>
</div>


<div>
    <p> <%= @kombucha.brand.name%></p>
</div>

<div>
    <p> <%= @kombucha.description %></p>
</div>

<div>
    <p> Buy Again? <%= @kombucha.buy_again %></p>
</div>


