<%# <div class="jumbotron">
    <h1 class="display-4">Welcome to Kombucha Thoughts!</h1>
    <p class="lead">A place to voice and catalogue your opinion on Kombuchas. See what the community thinks</p>
</div> %>


