
<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="navbar-text" >
        <%= button_to "Log Out: #{current_user.username} ", logout_path, method: :delete %> 
    </div> 
  
    <div class="col">
        <small>&copy; 2020<strong> Kombucha Thoughts</strong></small>
    </div>
</nav>

