<div class="jumbotron jumbotron-fluid ">
 <div class="container">
    <h1 class="display-4">Welcome to Kombucha Thoughts!</h1>
    <p class="lead">A place to voice and catalogue your opinion on Kombuchas. See what the community thinks</p><br>
    <a class="btn btn-primary btn-lg" href="<%= login_path %>" role="button"> Log In </a>
    <a class="btn btn-primary btn-lg" href="<%= signup_path %>" role="button"> Signup </a>
</div>
</div>


