<div class="jumbotron container-fluid">
    <h1 class="display-4">Welcome to Kombucha Thoughts!</h1>
    <p class="lead">A space to catalog and share your kombucha thoughts.</p><br>
    <a class="btn btn-primary btn-md" href="<%= login_path %>" role="button"> Log In </a>
    <a class="btn btn-primary btn-md" href="<%= signup_path %>" role="button"> Signup </a>
</div>


