<h1> Welcome <%= @user.username %> you have signed in.</h1>

<h3>Kombuchas reviewed by <%=@user.username%>:</h3>
<ul>
  <% @user.reviewed_kombuchas.each do |kombucha|%>
  <%# <%= reviewed_kombuchas aka like user.reviews.kombuchas ish %>
  <li> <%= link_to kombucha.flavor_and_brand, kombucha_path(kombucha)%> </li>
  <% end %>
</ul>
