<h1>All Brands</h1>

<h3> TO DO </h3>
<h5> [] Remove Empty/Deleted records</h5>




<ol>
<% @brands.each do |brand| %>
    <li> <%= brand.name%>  </li>
    <%=link_to "Delete This Brand", brand_path(brand), method: :delete, data: {confirm: "Are you sure?"} %> 

<% end %>
</ol>
