<div class="container-fluid text-center ">
    <div class="shiftH1"> All Brands </div>
    <hr>
    <div>
    <% @brands.each do |brand| %>
         <div class="card mx-auto" style="width: 45rem;"> 
            <div class="card-body">
            <h4 class="card-title shiftH3 mb-2"> <%= brand.name %>  </h4>
            </div>
        </div>
    <% end %>
    </div>
</div>

