<h1> All Reviews </h1>

<div>
<ul>
<% @reviews.each do |review| %>
    <li>
        <h2> <%= review.kombucha.flavor%>: <%= review.title %> - <%= review.rating%>  </h2>
    </li><br>
<% end %>
 </ul>
</div>